<div class="sidebar">
  <div class="sidebar-inner">
    <div class="logo">
      <img src="logo.png" alt="Kaaay Niaw Lú" />
    </div>
    <div class="separateur"></div>

    <nav>
      <a routerLink="/tableau-de-bord" routerLinkActive="active">
        <i class="fa-regular fa-calendar"></i> Tableau de bord
      </a>
      <a routerLink="/commandes" routerLinkActive="active">
        <i class="fa-solid fa-ruler-combined"></i> Commandes reçues
      </a>
      <a routerLink="/calendrier" routerLinkActive="active">
        <i class="fa-solid fa-chart-line"></i> Calendrier des livraisons
      </a>
      <a routerLink="/atelier" routerLinkActive="active">
        <i class="fa-regular fa-id-badge"></i> Mon atelier virtuel
      </a>
      <a routerLink="/messagerie" routerLinkActive="active">
        <i class="fa-regular fa-comment-dots"></i> Ma messagerie
      </a>
      <a routerLink="/parametres" routerLinkActive="active">
        <i class="fa-solid fa-user-gear"></i> Paramètres
      </a>
    </nav>
<div class="deconnexion">
  <a href="#" (click)="onDeconnexion($event)">
    <i class="fa-solid fa-right-from-bracket"></i> Se déconnecter
  </a>
</div>
  </div>
</div>