<div class="page-content">
  <app-header titre="PARAMÈTRES"></app-header>

  <div class="section-card">
    <h2><span class="icon-badge"><i class="fa-solid fa-lock"></i></span> Sécurité</h2>
    <div class="boutons">
      <button class="btn-gold">Changer le mot de passe</button>
      <button class="btn-gold">Supprimer mon compte</button>
    </div>
  </div>

  <div class="section-card">
    <h2><span class="icon-badge"><i class="fa-solid fa-user-gear"></i></span> Préférences</h2>
    <div class="preferences">
      <div class="pref-item">
        <label>Langue</label>
        <select>
          <option>Francais</option>
          <option>English</option>
        </select>
      </div>
      <div class="pref-item">
        <label>Mode</label>
        <select>
          <option>CLair</option>
          <option>Sombre</option>
        </select>
      </div>
    </div>
  </div>

  <div class="section-card">
    <h2><span class="icon-badge"><i class="fa-solid fa-headset"></i></span> Assistance</h2>
    <div class="boutons">
      <button class="btn-outline"><i class="fa-solid fa-phone"></i> Nous Contacter</button>
      <button class="btn-outline"><i class="fa-solid fa-location-dot"></i> Notre Siège</button>
    </div>
  </div>
</div>